@charset "UTF-8";
@import "styles/common/_variables.scss";
@import "styles/common/_placeholders.scss";

.tab {
  width: 100%;

  button {
    width: 50%;
    height: 60px;
    font-weight: bold;
    background-color: $G-background-color-extra;
    opacity: 0.5;
    transition: background-color 0.16s ease-in;

    &:hover {
      background-color: inherit;
    }
  }

  .active {
    background-color: $G-background-color-gray;
    opacity: 1;
  }
}

.wrapper {
  padding: 2rem;
  max-height: 760px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .table {
    table-layout: fixed;
    border-spacing: 0;
    border: 1px solid $G-color-border-table;
    border-radius: 4px;
    overflow: hidden;

    .sales {
      color: $G-color-blue;
      font-weight: bold;
    }

    .count {
      color: $G-color-red;
      font-weight: bold;
    }

    .margin {
      color: $G-color-green;
      font-weight: bold;
      text-align: right;
      padding-right: 2rem;
    }

    thead {
      tr {
        th {
          height: 60px;
          color: $G-color-gray;
          border-bottom: 1px solid $G-color-border-table;
          font-weight: normal;
        }
      }
    }

    tbody {
      text-align: center;

      tr {
        td {
          border-bottom: 1px solid $G-color-border-table;
        }

        &:last-of-type {
          background-color: #36393E;

          td {
            border-bottom: none;
          }
        }
      }

      td {
        height: 60px;
        color: $G-color-white;

        button {
          width: 100%;
          height: 100%;
          opacity: 0.5;
          transition: all 0.16s ease-in;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            opacity: 1;
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.01);
          }

          img {
            transition: transform 0.3s ease-in;
          }
        }
      }
    }
  }

  .boughtList {
    td {
      table {
        table-layout: fixed;
        border-spacing: 0;
        overflow: hidden;

        thead {
          tr {
            th {
              height: 60px;
              color: $G-color-gray;
              font-weight: normal;
            }
          }
        }

        tbody {
          tr {
            background-color: #36393E;
            &:last-of-type {
              background-color: $G-background-color-extra
            }

            td {
              border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            }

            .datetime {
              opacity: 0.5;
              padding-left: 1rem;

              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  .left {
    font-weight: bold;
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .rotation {
    transform: rotate(180deg);
  }

  .bestProduct {
    span {
      padding: 4px 10px;
      background-color: $G-color-red;
      border-radius: 4px;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .bestProductGuide {
    font-size: 12px;
    margin-top: 4px;
    color: $G-color-red;
  }
}

.calculateButton {
  width: 100%;
  padding: 2rem;
  border-top: 1px solid $G-color-border;

  button {
    @extend .greenButton;

    width: 100%;
    height: 60px;
    border-radius: 4px;
    font-size: 16px;
  }
}

.complete {
  padding: 2rem;
  width: 460px;

  .icon {
    text-align: center;
    margin-bottom: 2rem;
  }

  .text {
    margin-bottom: 2rem;

    h1 {
      text-align: center;
      margin-bottom: 10px;

      i {
        font-style: normal;
        color: $G-color-green;
      }
    }

    p {
      text-align: center;
      color: $G-color-gray;
      line-height: 20px;
    }
  }

  .box {
    width: 100%;
    background-color: $G-background-color-extra;
    border-radius: 4px;
    padding: 2rem;
    margin-bottom: 1rem;

    .line {
      display: flex;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      p {
        color: $G-color-gray;

        &:nth-of-type(2) {
          margin-left: auto;
          color: $G-color-white;
          font-size: 16px;
          font-weight: bold;
          opacity: 0.8;
        }
      }
    }

    .total {
      margin-top: 2rem;
    }
  }

  .buttonWrapper {
    align-items: center;
    width: 100%;

    button {
      @extend .blueButton;

      width: 100%;
      height: 46px;
      border-radius: 4px;

      &:first-of-type {
        @extend .redButton;
        margin-bottom: 10px;
      }
    }
  }
}