@charset "UTF-8";
@import './variables';

/* Card */
.grayBox {
  background-color: $G-background-color-gray;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Button */
.blueButton {
  background-color: $G-color-blue;
  color: $G-color-white;
  font-weight: bold;
  transition: all 0.16s ease-in;

  &:hover {
    background-color: $G-color-blue-hover;
  }

  &:active {
    background-color: $G-color-blue-active;
  }
}

.greenButton {
  background-color: $G-color-green;
  color: $G-color-white;
  font-weight: bold;
  transition: all 0.16s ease-in;

  &:hover {
    background-color: $G-color-green-hover;
  }

  &:active {
    background-color: $G-color-green-active;
  }
}

.redButton {
  background-color: $G-color-red;
  color: $G-color-white;
  font-weight: bold;
  transition: all 0.16s ease-in;

  &:hover {
    background-color: $G-color-red-hover;
  }

  &:active {
    background-color: $G-color-red-active;
  }
}

.grayButton {
  background-color: $G-background-color-gray;
  border-radius: 4px;
  box-shadow: $G-box-shadow;
  transition: background-color 0.16s ease-in;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.01);
  }
}

/* Input */
.defaultInput {
  background-color: $G-background-color-extra;
  border-radius: 4px;
  color: $G-color-white;
}