@charset "UTF-8";

/* Font family */
$G-font-family-base: Pretendard, -apple-system, sans-serif;

/* Color */
$G-color-white: #FFFFFF;
$G-color-gray: rgba(255, 255, 255, 0.3);
$G-color-blue: #7289DA;
$G-color-green: #49A879;
$G-color-red: #C95A5D;

/* Background Color */
$G-background-color-default: #36393E;
$G-background-color-gray: #414549;
$G-background-color-extra: #1E2124;
